@using Microsoft.AspNetCore.Identity
@using PostHub.Areas.Identity.Data;
@inject SignInManager<PostHubUser> SignInManager
@inject UserManager<PostHubUser> UserManager
@model PostHub.Models.PostModel

@{
    Layout = "~/Views/Shared/_LayoutWithItems.cshtml";
    ViewData["Title"] = "DisplayPost";
}

<div class="h-100">
    <div class="card border border-dark w-100">
        <div class="row h-50 mx-2 my-2">
            <div class="col-sm w-75 p-3 post-info">
                @Html.DisplayFor(model => model.Title)
                @@@Html.DisplayFor(model => model.Author)
                <div class="date">@Html.DisplayFor(model => model.PublishDate)</div>
            </div>
            <div class="col-sm w-25 p-3 text-right">
                @if (Model.Author == User.Identity.Name)
                {
                    <a class="btn btn-dark" asp-action="EditPost" asp-route-id="@Model.ID">Edit</a>
                    <a class="btn btn-danger" asp-action="RemovePost" asp-route-id="@Model.ID">Delete</a>
                }
            </div>
        </div>
        <div class="card-body text-dark">
            @Html.DisplayFor(model => model.Content)
        </div>
    </div>
    <div class="my-2">
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="CreateComment" asp-route-id="@Model.ID">Comment</a>
        }
        | <a asp-action="Index">Back to List</a>
    </div>
        @foreach (var comment in ViewBag.Comments)
        {

            <div class="row border border-dark mt-3 mx-5 bg-light" style="width: 90%;">
                <div class="col-2 border">@comment.Author</div>
                <div class="col">@comment.Content</div>
            </div>

        }
</div>
